/* CSS reset */
*{
    margin: 0%;
    padding:0%;
}
/* CSS Variables */

:root{
    --navbar-height:59px;
}

/* Navigation Bar */

#navbar{
    display:flex;
    align-items: center;
    position: relative;
    top: 0%;
}

/*Navigation Bar: Logo and Image */
#logo{
margin: 12px 25px;
}
#logo image{
    height: 56px;
    margin: 20px 30px;
}
/*  Navigation Bar :List Styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
    font-family:'Baloo Bhai', cursive;
}
#navbar:before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    list-style: none;
    font-size: 2.2rem;
    
}
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
color: black;
background-color: yellow;

}
/* Home Section */
/* #home{
 display: flex;   
 flex-direction: column;
 padding: 3px 200px;
 height: 620px;
 justify-content: center;
 align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../mushrooms-bg.jpg')no-repeat center center/cover;
    height: 95%;
    top:0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.49; */
/* } */
#home h1{
    color:black;
    text-align:center;
    font-size: 2.5em;
    font-family: 'Bree Serif', serif;

}
#home p{
    color:#990000;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Utility Classes */
.h-primary{
    font-size:2.2rem;
    text-align: center;
    padding: 11px;
    font-family:'Bree Serif', serif ;
    color: rgb(15, 14, 14);
}
.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
}

.center{
    text-align: center;
}
/* Services Section */
    #services{
        margin: 10px;
        display: flex;
        
    }
    #services .box{
        border: 3px solid rgb(175, 7, 7);
        padding: 37px;
        margin: 5px 20px;
        border-radius: 28px;
        background: #f2f2f2;
        margin-bottom: 20px;
    }
    #services .box img{
        height: 160px;
        margin: auto;
        display: block;
    }
    #services .box p{
        font-family: 'Bree Serif',serif;
        font-size: 0.9rem;
    }
    #services .box:hover{
        color: black;
        background-color: rgb(253, 209, 209);
    }
    /* About Us section */
    #about-us .container{
        font-size: 2.2rem;
        text-align: justify;
        font-family:Garamond,serif;
        /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        background-color: #f2f2f2;
        width: 100%;
    }
    h3{
        font-size: 2.7rem;
        color: #cc3300;
    }
    #about-us .h-secondary{
        font-size: 2.7rem;
        color: palevioletred;
    }
    
    
    /* Contact Us section */
    #contact{
        position: relative;
    }
    #contact::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 450px;
        z-index: -1;
        opacity: 0.5;
        background: url('../contact-bg.webp') no-repeat center center/cover;
    }
    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #contact-box input,
    #contact-box textarea{
        width: 95%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }
    #contact-box form{
        width: 40%;
    }
    #contact-box label{
        font-size: 1.5rem;
        font-family: serif;
        width: 40%;
    }

    footer{
        background: black ;
        color:white;
        padding: 9px 20px;
    }
